@{
    ViewBag.Title = "Things to do";
    Layout = null;
}
<head>
    @Styles.Render("~/Content/TodoApp/css")
    @Scripts.Render("~/bundles/todoListServerScripts")

</head>

<!-- This will render the component server-side -->
@Html.React("MainSection", new {
    allTodos = new Dictionary<int,object> {
                        { 1, new { text = "React App Infrastructure", complete = false}},
                        { 2, new { text = "React App CodeBase" , complete = false} } ,
                        { 3, new { text = "Flux Architecture" , complete = false} },
                        { 4, new { text = "Server Side Rendering" , complete = false} }},
    areAllComplete = true,
    isPreviewMode = true
})

@Html.ReactInitJavaScript()

<footer id="info">
    <p>@Html.ActionLink("Things to do", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</p>
</footer>
