@{
    ViewBag.Title = "Things to do";
    Layout = null;
}
<head>
    @Styles.Render("~/Content/TodoApp/css")
    @Scripts.Render("~/bundles/todoListServerScripts")

</head>

<!-- This will render the component server-side -->
@Html.React("MainSection", new {
    allTodos = new List<object> { new { id=1, text="test", complete=false }, new { id = 2, text = "test", complete = false } } })

@Html.ReactInitJavaScript()

<footer id="info">
    <p>@Html.ActionLink("Things to do", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</p>
</footer>
